@import '../../designUtils/colors';
@import '../../designUtils/fontDesign';
@import '../../designutils/animations';



.studentCard {
    font-family: 'Raleway'; // Web Font Loader CommonJSModule
    border-bottom: 2px solid $lightest-gray;
    background-color: white;
    
    & > * {
        margin-bottom: 5px;
    }
    
    a {
        display: flex;
        text-decoration: none;
        color: unset;
    }
    &__pic {
        border: 2px solid $frame-gray;
        border-radius: 100%;
        width: 90px;
        height: 90px;
        margin: 25px 15px 0 20px;
    }
    
    &__data {
        display: flex;
        flex-direction: column;
        padding: 12px 0 10px 12px;
        width: 70%;

        &__name {
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 30px;
            padding-bottom: 8px;
        }
        &__desc {
            @extend %gray-and-indented;
            line-height: 20px;
        }
        &__gradesList {
            margin: 10px 0 0 10px;
            @extend %gray-and-indented;
            
            span {
                padding-left: 16px;
                min-width: 60px;
                display: inline-block;
                // in order to use min-width on inline elements, we need to set it to inline-block
                // inline elements don't have width, they just have what's inside of it. 
                // So in order to set a width, it needs to be block or inline-block
            }
        }

    }

    &__toggleIcons {
        color: $shadow-gray;
        padding-top: 18px;
    }
    &__toggleIcon {
        cursor: pointer;

        &:hover {
            // Remember that color names are not written in quotes!
            color: black;
        }
        // This BEM modifier only applies to an auto-icon that has this condition of spinning
        // studentCard__toggleIcon-spinning
        //    block      element   modifier
        &-spinning {
            @extend %spinning-icon;
        }
        // @keyframes spin-animation {
        //     from {transform: rotate(0deg);}
        //     to {transform: rotate(360deg);}
        // }
    }

    &__tagCollection {
        @extend %gray-and-indented;
        padding-top: 12px;
    }
    &__tag {
        display: inline-block;
        background-color: $tag-background;
        color: rgb(69, 69, 69);
        padding: 8px;
        border-radius: 3px;
        margin: 3px;
    }
    &__tagInput {
        border-style: none;
    }
}

@media only screen and (max-width: 440px) {
    .studentCard {

        &__data {
            width: 57%;
            
            &__name {
                font-size: 20px;
            }
        }
    }
}