@import '../../designUtils/colors';


.navbar {
    background-color: white;
    height: 60px;
    border-bottom: 2px solid rgb(211, 211, 211);

    &__overlay {
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        top: 60px;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    
    &__links {
        display: flex;
        justify-content: space-between;
        line-height: 60px;
        max-width: 800px;
        margin: 0 auto;
    }

    &__logo {
        font-size: 24px;
        font-weight: bold;
    }

    &__menuItems {
        width: 40%;
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
    }

    &__hamburger {
        display: none;
    }
}


@media only screen and (max-width: 440px) {
    .navbar {
        &__links {
            padding: 0 20px;
        }

        border-bottom: 1px solid $shadow-gray;
        
        &__logo {
            float: left;
        }
        &__menuItems {
            display: none;
            z-index: 10;

            &.active {
                display: flex;
                flex-direction: column;
            }
        }
        ul {
            position: absolute;
            top: 45px;
            right: 0px;
            width: 100%;
            flex-direction: column;
            list-style: none;
            text-decoration: none;
            padding: 0;
            box-shadow: 0 10px 5px grey;
        }
        li {
            width: 100%;
            background-color: white;
            text-align: center;
            border-bottom: 1px solid grey;
        }
        li:not(:last-child) {
            border-bottom: 1px solid $frame-gray;
        }
        a {
            margin: auto;
            text-decoration: none;
            color: black;
        }
        &__hamburger {
            display: block;
            font-weight: 600;
            font-size: 24px;   
        }
    }
}
