.navigationButton {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    width: 600px;

    a {
        text-decoration: none;
    }

    @media only screen and (max-width: 440px) {
        width: auto;
        margin: 0;
        padding-bottom: 10px;
    }
}